QuickManager/QuickManagerConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="monitor">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="monitorItem">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element name="url" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="actions">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="action">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element name="launch">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="exe" type="xs:string" />
                          <xs:element minOccurs="0" name="parms" type="xs:string" />
                          <xs:element minOccurs="0" name="workingDir" type="xs:string" />
                          <xs:element name="createNoWindow" type="xs:boolean" />
                        </xs:sequence>
                        <xs:attribute name="env" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="stop">
                      <xs:complexType>
                        <xs:sequence minOccurs="0">
                          <xs:element name="tcp">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ipAddress" type="xs:string" />
                                <xs:element name="port" type="xs:unsignedShort" />
                                <xs:element name="stopKey" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="canStop" type="xs:boolean" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="default" type="xs:boolean" use="optional" />
                  <xs:attribute name="autoStart" type="xs:boolean" use="optional" />
                  <xs:attribute name="logName" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="envs" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="env" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vars">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="var">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="value" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="expand" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>